@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
html{
    
    height: 100vh;
}
body{
    background: black url(../img/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    
}
main{
    
    background-color: rgba(255, 255, 255, 0.678);
    width: 90vw;
   
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
#cel{display: block;}
#tab{display: none;}
#prin{display: none;}
#tv{display: none;}
#pc{display: none;}