@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: courier;
}
html, body{
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 62, 255);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 3px 3px 0px black;
    padding: 10px;

}